.header{
    display: flex;
    flex-direction: row;
    height: 100px;
    border-bottom: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    margin: 0px;
}
.div-h1{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 48%;
}
.a-style{
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* width: 50%; */
}
.sample-color{
    
    color: #242463;
}
.site-color{
    color: rgb(146, 146, 146);
}
.div-img{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 48%;
    height: 100%;
}
.img-size{
    
    height: 30%;
}
.button-style{
    height: 100%;
    color: transparent;
    border: transparent;
    background-color: transparent;
}
/* .navStyle{

} */

body{
    width: 100%;
    margin: 0px;
}

.carousel-div{
    height: 420px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.carousel-button{
    height: 40px;
    width: 40px;
    color: white;
    background-color: rgb(255, 102, 0);
    border: none;
}
.buynow-button{
    height: 50px;
    width: 100px;
    color: white;
    background-color: rgb(255, 102, 0);
    border: none;
    align-items: baseline;
}
.div-buynow{
    display: flex;
    height: 100;
    width: 100%;
}
.arrow-head{
   font-size: 20px;
}
.container{
    display: flex;
    justify-content: center;
}
